name: publish_dockerhub
on:
  workflow_dispatch:
jobs:  
  publish_dockerhub:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/tags/*.*.*'
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Analyze JSON Package
        id: package_json
        run: |
          content=`cat ./package.json`
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          echo "::set-output name=packageJson::$content"

      - name: Extract Docker-image params
        id: docker-params
        run: |
          echo "::set-output name=version::${{fromJson(steps.package_json.outputs.packageJson).version}}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: umbrellanetwork/pegasus:v${{ steps.docker-params.outputs.version }},umbrellanetwork/pegasus:latest